---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=WUQ2Q6vYE3wrcpG89fvDzsDAo7A0vATq&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 06 May 2021 17:28:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=WUQ2Q6vYE3wrcpG89fvDzsDAo7A0vATq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1844007819"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=WUQ2Q6vYE3wrcpG89fvDzsDAo7A0vATq&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=318277562"}]}]}'
  recorded_at: Thu, 06 May 2021 17:28:07 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=5b48d1bc95a93593f2964f466bab5a4d&format=json&geo_context=2&lat=39.738453&license=0&lon=-104.984853&method=flickr.photos.search&nojsoncallback=1&per_page=1&radius=10&radius_units=10&tags=denver%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":206,"perpage":1,"total":"206","photo":[{"id":"50948688121","owner":"91357526@N00","secret":"7511ec5d52","server":"65535","farm":66,"title":"Denver
        at Early Evening (6.46pm Pano), 15 July 2020","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Thu, 06 May 2021 17:28:07 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=5b48d1bc95a93593f2964f466bab5a4d&format=json&method=flickr.urls.getUserProfile&nojsoncallback=1&user_id=91357526@N00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":{"nsid":"91357526@N00","url":"https:\/\/www.flickr.com\/people\/rock_chalk_jhawk_ku\/"},"stat":"ok"}'
  recorded_at: Thu, 06 May 2021 17:28:07 GMT
recorded_with: VCR 6.0.0
