---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?APPID=641eb07fd064a01b41cb1c9a96137159&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1620151031,"sunrise":1620129385,"sunset":1620179811,"temp":53.1,"feels_like":50.41,"pressure":1014,"humidity":49,"dew_point":34.47,"uvi":7.75,"clouds":22,"visibility":10000,"wind_speed":2.35,"wind_deg":139,"wind_gust":3.42,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1620147600,"temp":52.66,"feels_like":49.98,"pressure":1014,"humidity":50,"dew_point":34.57,"uvi":6.24,"clouds":23,"visibility":10000,"wind_speed":2.44,"wind_deg":161,"wind_gust":3.69,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1620151200,"temp":53.1,"feels_like":50.41,"pressure":1014,"humidity":49,"dew_point":34.47,"uvi":7.75,"clouds":22,"visibility":10000,"wind_speed":2.35,"wind_deg":139,"wind_gust":3.42,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1620154800,"temp":54.05,"feels_like":51.31,"pressure":1014,"humidity":46,"dew_point":33.76,"uvi":8.33,"clouds":36,"visibility":10000,"wind_speed":1.99,"wind_deg":100,"wind_gust":3.2,"weather":[{"id":802,"mai[...]
