---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=5b48d1bc95a93593f2964f466bab5a4d&format=json&geo_context=2&lat=39.738453&license=0&lon=-104.984853&method=flickr.photos.search&nojsoncallback=1&per_page=1&radius=10&radius_units=10&tags=denver%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":214,"perpage":1,"total":"214","photo":[{"id":"50948688121","owner":"91357526@N00","secret":"7511ec5d52","server":"65535","farm":66,"title":"Denver
        at Early Evening (6.46pm Pano), 15 July 2020","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 17:38:12 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=5b48d1bc95a93593f2964f466bab5a4d&format=json&method=flickr.urls.getUserProfile&nojsoncallback=1&user_id=91357526@N00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":{"nsid":"91357526@N00","url":"https:\/\/www.flickr.com\/people\/rock_chalk_jhawk_ku\/"},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 17:38:12 GMT
recorded_with: VCR 6.0.0
