---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?APPID=641eb07fd064a01b41cb1c9a96137159&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1620322092,"sunrise":1620302049,"sunset":1620352731,"temp":58.1,"feels_like":55.44,"pressure":1023,"humidity":39,"dew_point":33.3,"uvi":7.44,"clouds":5,"visibility":10000,"wind_speed":1.01,"wind_deg":131,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1620320400,"temp":58.1,"feels_like":55.44,"pressure":1023,"humidity":39,"dew_point":33.3,"uvi":7.44,"clouds":5,"visibility":10000,"wind_speed":2.84,"wind_deg":93,"wind_gust":3.13,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620324000,"temp":58.91,"feels_like":56.25,"pressure":1023,"humidity":37,"dew_point":32.72,"uvi":9.24,"clouds":5,"visibility":10000,"wind_speed":3.94,"wind_deg":117,"wind_gust":5.19,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620327600,"temp":61.2,"feels_like":58.62,"pressure":1022,"humidity":34,"dew_point":32.63,"uvi":9.95,"clouds":3,"visibility":10000,"wind_speed":3.58,"wind_deg":103,"wind_gust":5.21,"weather":[{"id":800,"main":[...]
